*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #000;
}

.hero{
    position:relative;
    width: 100vw;
    height: 100vh;
    background-color: #00000000;
    background-image: url("./carbon-fibre-v2.png");
}

nav{
    position: fixed;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1.1vw;
    z-index:999999;
}

h1 {
    color: white;
    font-size: 3.5vw;
    letter-spacing: 0.05vw;
    /* font-family: ; */
    text-transform: uppercase;
}
